<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .main {
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .left {
    width: 200px;
    height: 100%;
    background-color: aquamarine;
  }

  .content {
    flex: 1;
    background-color: blueviolet;
  }

  .right {
    width: 300px;
    height: 100%;
    background-color: yellowgreen;

  }

</style>

<body>
  <div class="main">
    <div class="left"></div>
    <div class="content"></div>
    <div class="right"></div>
  </div>
</body>

</html>
